body {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 2%;
}

p {
  font-size: 1em;
}

label {
  width: 100%;
}

input {
  width: 99%;
}

section {
  padding: 2%;
  border: 5px solid #88c9fb;
  border-radius: 5px;
}

canvas {
  height: 100%;
  width: 100%;
}
