#navbar {
  width: 90%;
  border-style: solid;
  border-color: orange;
}

#graph, #form, #log {
  width: 100%;
}

head {
  width: 100%
}

.tab  {
  margin-left:15%;
}

a {

}

.data {
  width: 90%;
  border-style: solid;
  border-color: orange;
  height: 500px;
  margin-top: 2.5%;
}

canvas{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 450px){
  #form, #graph, #log{
    display: none;
  }
  body{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media screen and (min-width:451px) and (max-width: 800px) {
  #form, #graph, #log{
    display: inline-block;
  }
  body{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 800px) {
  #form, #graph, #log{
    display: inline-block;
  }
  body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
