#navbar {
  text-align: center;
}

#app-body-content {
  padding-left: 3%;
  padding-right: 3%;
}

.tab {
  margin-left: 5%;
  margin-right: 5%;
}

.data {
  width: 100%;
  display: block;
  height: 25%;
}

@media screen and (max-width: 450px){
  .data {
    display: none;
  }
  #navbar-header {
    font-size: 3.1em;
  }
}

@media screen and (min-width:451px) and (max-width: 900px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  #navbar-header {
    font-size: 4em;
  }
}

@media screen and (min-width: 900px) {
  .data {
    height: 100%;
    width: 33%;
    float: left;
    display: block;
  }
  #form {
    margin-right: 0.5%;
  }
  #log {
    margin-left: 0.5%;
  }
  #form-textarea {
    width: 97%;
  }
  body {
    margin-left: 7%;
    margin-right: 7%;
  }
  #navbar {
    display: none;
  }
  #navbar-header {
    font-size: 4.5em;
  }
  #navbar-header:hover{
    cursor: pointer;
  }
  img {
    display: block;
  }
}
