#navbar {
  width: 90%;
  border-style: solid;
  border-color: orange;
}

#graph, #form, #log {
  width: 100%;
}

head {
  width: 100%
}

.tab  {
  margin-left:15%;
}

section {
  width: 90%;
  border-style: solid;
  border-color: orange;
  height: 500px;
  margin-top: 2.5%;
}

canvas{
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 450px){
  #form, #graph, #log{
    display: none;
  }
  body{
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (min-width:451px) and (max-width: 900px) {
  #form, #graph, #log{
    display: block;
  }
  body{
    max-width: 90%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 900px) {
  #form, #graph, #log{
    display: inline;
  }
  body{
    max-width: 90%;
    margin-left: 10%;
  }
}
