#graph {
  display: none;
}

@media screen and (max-width: 450px){
  #form #graph #log{
    display: none;
  }
  body{
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #form #graph #log{
    display: block;
  }
  body{
    max-width: 90%;
  }
}

@media screen and (min-width: 800px) {
  #form #graph #log{
    display: inline;
  }
  body{
    max-width: 70%;
  }
}
