#app-body-content {
  background-color: white;
}

#navbar {
  border: 5px solid #88c9fb;
  border-radius: 5px;
  margin-bottom: 5%;
}

#navbar-header {
  padding-top: 4%;
}

#form-textarea {
  width: 98.7%;
}

#submit-button {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
